.atp{
    align-items: center;   
}
 .container{
    /*background: #1ef3b3;*/
    background-image: linear-gradient(135deg, #d59e5b 0%, #dcddf1 100%);
    padding: 25px;
    width: 90%;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
}
 .container textarea{
    height: 5rem;
    width: 90%;
    resize: none;
    cursor: pointer;
    color: black;
    border: 6px ridge rgb(197, 85, 85);
    border-radius: 10px;
    z-index: 1;
}
.container .btn {
    border: 2px solid #ceccbe;
    color: #f5f6f1;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 40px;
    background: #c13819;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 2;
    margin-top: 20px;
    display: inline-block; /* Make the button an inline-block element */
    box-shadow: none;
}

 .container .btn:hover{
    transform: scale(1.05);
    background-color: rgb(9, 57, 170);
}
 .container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    color: purple;
    text-align: center;
}
.credit{
    text-align: center;
    background: -webkit-linear-gradient(#cd9494, #7e6161);
    padding: 10px;
    font-size: 20px;
    color: black;
}

.credit span{
    color: rgb(230, 217, 216);
}